<div class="col-12 col-md-4" data-aos="fade-up">
  <div class="card">
    <figure class="card-img-top ratio ratio-1x1 overflow-hidden">
      <img src="{{ include.image | absolute_url }}" alt="{{ include.title }}" class="img-fluid w-100 h-100 d-block" style="object-fit: contain;" loading="lazy">
    </figure>
    <div class="card-body">
      <h3 class="card-title text-center">{{ include.title }}</h3>
    </div>
  </div>
</div>