<div class="text-white rounded-circle d-inline-flex align-items-center justify-content-center mb-3" style="background-color: {{ include.color }}; width: 60px; height: 60px;">
    <i aria-hidden="true" role="presentation" class="{{ include.class }} fa-2x" title="{{ include.name }}"></i>
</div>