<section aria-label="{{ aria-label }}" class="container-fluid my-5 p-5 {% if include.dark %} bg-dark text-white {% endif %}">
  <h2 class="display-5 text-center my-3 fw-bold" data-aos="fade-up">{{ include.title }}</h2>
  <div class="row my-3 g-5">
    {{ include.cards }}
  </div>
</section>