table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th {
    background-color: var(--th-background-color);
    color: var(--th-text-color);
    text-align: center;
    padding: 10px;
}

td {
    color: var(--td-text-color);
    padding: 8px;
    text-align: left;
    height: 50px;
}

tr {
    background-color: var(--tr-background-color);
}

tr:hover {
    background-color: var(--tr-hover-background-color);
    transition: 0.5s ease;
}

td,
th {
    border: 1px solid var(--border-color);
}